.navbar{
    width: 350px;
    height: 100vh;
}

.nav-container{
    width: 200px;
    height: 100%;
    margin: auto;
    padding: 75px 0 0 0;
}

.navbar-brand{
    width: 200px;
    height: 200px;
    margin: 0 0 30px 0;
}

.navbar-toggler{
    display: none;
}

.nav-item{
    width: 200px;
    padding: 10px 0 10px 10px;
    margin: 0 0 30px 0;
    background-color: #FFF0F5;
}

.content{
    width: calc(100% - 350px);
    height: 100vh;
}

.container{
    width: 1000px;
    height: 600px;
    margin: calc(50vh - 300px) auto;
}

.area-l{
    width: 33%;
    height: 100%;
    background-position: bottom 0% right 27%;
}

.area-l:hover{
    background-position: bottom 0% right 50%;
}

.area-m{
    width: calc(34% - 20px);
    height: 100%;
    background-position: bottom 0% right 46%;
    margin: 0 10px;
}

.area-m:hover{
    background-position: bottom 0% right 80%;
}

.area-r{
    width: 33%;
    height: 100%;
    background-position: bottom 0% right 27%;
}

.area-r:hover{
    background-position: bottom 0% right 34%;
}

@media ( max-width:1520px){
    .container{
        width: 800px;
    }
    
    .area-l{
        width: 100%;
        height: calc(50% - 5px);
        margin: 0 0 5px 0;
        background-position: bottom 70% right 0;
    }
    
    .area-l:hover{
        background-position: bottom 57% right 0;
    }
    
    .area-m{
        width: calc(50% - 5px);
        height: calc(50% - 5px);
        margin: 5px 5px 0 0;
        background-position: center;
    }
    
    .area-r{
        width: calc(50% - 5px);
        height: calc(50% - 5px);
        margin: 5px 0 0 5px;
    }
}

@media ( max-width:1280px){
    .navbar{
        width: 100%;
        height: 150px;
        margin: 0 0 30px 0;
    }
    
    .nav-container{
        width: 768px;
        height: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
    }
    
    .navbar-brand{
        width: 100px;
        height: 100px;
        margin: unset;
        float: left;
    }
    
    .navbar-nav{
        height: 100px;
        width: unset;
    }
    
    .nav-item{
        width: 120px;
        height: 100%;
        padding: 0 0 0 5px;
        margin: 0 0 0 30px;
        float: left;
        line-height: 100px;
    }
    
    .content{
        width: 100%;
        height: unset;
    }
    
    .container{
        width: 768px;
        height: 700px;
        margin: 0 auto;
    }
}

@media ( max-width:1052px){
    .navbar {
        width: 100%;
        height: 100px;
        float: left;
        margin: unset;
    }
    
    .nav-container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding:25px calc(50vw - 25px) 25px 0;
        flex-direction:row-reverse;
    }
    
    .navbar-brand {
        width: 50px;
        height: 50px;
        float: left;
    }
    
    .navbar-collapse{
        display: none;
        position: fixed;
        top: 75px;
        left: 0px;
        float: right;
        height: 100%;
    }
    
    .nav-item {
        width: 150px;
        height: 50px;
        background-color: lavenderblush;
        margin-left: 10px;
        line-height: 50px;
        float: unset;
        margin: 0 0 5px 10px;
    }
    
    
    .navbar-toggler {
        width: 50px;
        height: 50px;
        background-color: olivedrab;
        display: block;
        float: left;
    }
    
    .navbar-toggler:hover~.navbar-collapse{
        display: block;
    }
    
    .navbar-collapse:hover{
        display: block;
    }
    
    .content {
        width: 100%;
        height: unset;
    }
    
    .container {
        width: 100%;
        height: unset;
        margin: auto;
    }
    
    .area-l {
        width: 100%;
        height: 300px;
        float: unset;
        margin: unset;
        background-position: bottom 70% right 0;
    }
    
    .area-m {
        width: 100%;
        height: 300px;
        float: unset;
        margin: unset;
        background-position: top 55% right 0;
    }
    
    .area-r {
        width: 100%;
        height: 300px;
        float: unset;
        background-position: top 47% right 0;
        margin: unset;
    }
    
    .area-l:hover{
        background-position: bottom 55% right 0;
    }
    .area-m:hover{
        background-position: top 53% right 0;
    }
    .area-r:hover{
        background-position: top 52% right 0;
    }
}