$col-xl-media:1501px;
$col-xls-media:1500px;
$col-lg-media:1201px;
$col-lgs-media:1200px;
$col-md-media:993px;
$col-mds-media:992px;
$col-sm-media:769px;
$col-media:768px;

@mixin col-xl() {
    @media all and ( min-width: $col-xl-media) {
        @content;
    }
}

@mixin col-lg() {
    @media all and ( min-width: $col-lg-media) and ( max-width: $col-xls-media){
        @content;
    }
}

@mixin col-md() {
    @media all and ( min-width: $col-md-media) and ( max-width: $col-lgs-media){
        @content;
    }
}

@mixin col-sm() {
    @media all and ( min-width: $col-sm-media) and ( max-width: $col-mds-media){
        @content;
    }
}

@mixin col() {
    @media all and ( max-width: $col-media) {
        @content;
    }
}

// @include col-xl(){
    
// }

// @include col-lg(){
    
// }

// @include col-md(){
    
// }

// @include col-sm(){
    
// }

// @include col(){
    
// }

$display-grid:grid;
$grid-template-columns-repeat-8:repeat(8,1fr);
$grid-template-columns-repeat-4:repeat(4,1fr);
$grid-template-columns-repeat-2:repeat(2,1fr);
$grid-template-columns-repeat-1:repeat(1,1fr);

$grid-template-rows-repeat-8:repeat(8,1fr);
$grid-template-rows-repeat-4:repeat(4,1fr);
$grid-template-rows-repeat-3:repeat(3,1fr);
$grid-template-rows-repeat-2:repeat(2,1fr);
$grid-template-rows-repeat-1:repeat(1,1fr);

$row-gap-10:10px;
$column-gap-10:10px;

$row-gap-5:5px;
$column-gap-5:5px;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #E9EBEE;
}

#nav1{
    @include col-xl(){
        height:70px;
    }

    @include col-lg(){
        height:70px;
    }

    @include col-md(){
        height:70px;
    }

    @include col-sm(){
        height:70px;
    }

    @include col(){
        height:56px;
    }

    .container{
        .navbar-nav{
            flex-direction: row;

            .nav-item{
                text-align: center;
                background-color: rgba(255,255,255,0.1);

                @include col-xl(){
                    width: 150px;
                }

                @include col-lg(){
                    width: 150px;
                }

                @include col-md(){
                    width: 150px;
                }

                @include col-sm(){
                    width: 150px;
                }

                @include col(){
                    width: 135px;
                }
            }
    
            .nav-item:nth-child(2){
                background-color: rgba(255,255,255,0.3);
                margin: 0 0 0 10px;
            }
        }
    }
}

main{
    @include col-xl(){
        margin:126px 0 0 0;
    }

    @include col-lg(){
        margin:126px 0 0 0;
    }

    @include col-md(){
        margin:126px 0 0 0;
    }

    @include col-sm(){
        margin:126px 0 0 0;
    }

    @include col(){
        margin:110px 0 0 0;
    }

    #nav2{
        @include col-xl(){
            margin:70px 0 0 0;
        }
    
        @include col-lg(){
            margin:70px 0 0 0;
        }
    
        @include col-md(){
            margin:70px 0 0 0;
        }
    
        @include col-sm(){
            margin:70px 0 0 0;
        }
    
        @include col(){
            margin:56px 0 0 0;
        }

        .container{
            .navbar-nav{
                @include col-xl(){
                    flex-direction: row;
                }

                @include col-lg(){
                    flex-direction: row;
                }

                @include col-md(){
                    flex-direction: row;
                }

                @include col-sm(){
                    flex-direction: row;
                }

                @include col(){
                    flex-direction: column;
                }
    
                .nav-item{
                    text-align: center;
                    background-color: rgba(255,255,255,0.1);
    
                    @include col-xl(){
                        width: 120px;
                    }
    
                    @include col-lg(){
                        width: 120px;
                    }
    
                    @include col-md(){
                        width: 120px;
                    }
    
                    @include col-sm(){
                        width: 120px;
                    }
    
                    @include col(){
                        width: 100%;
                    }
                }
        
                .nav-item:nth-child(2){
                    @include col-xl(){
                        margin: 0 10px;
                    }
    
                    @include col-lg(){
                        margin: 0 10px;
                    }
    
                    @include col-md(){
                        margin: 0 10px;
                    }
    
                    @include col-sm(){
                        margin: 0 10px;
                    }
    
                    @include col(){
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .padding-20{
        padding: 20px 0 0 0;

        .breadcrumb-height{
            display: flex;
    
            .breadcrumb-item-height{
                align-items:center;
    
                @include col-xl(){
                    height: 48px;
                }
                
                @include col-lg(){
                    height: 24px;
                }
                
                @include col-md(){
                    height: 24px;
                }
                
                @include col-sm(){
                    height: 48px;
                }
                
                @include col(){
                    height: 72px;
                }
            }
        }
    }
    
    #Portfolio{

        #grid{
            display: $display-grid;
            row-gap: $row-gap-10;
            column-gap: $column-gap-10;
        
            @include col-xl(){
                grid-template-columns: $grid-template-columns-repeat-8;
                grid-template-rows: $grid-template-rows-repeat-1;
            }

            @include col-lg(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-2;
            }

            @include col-md(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-4;
            }

            @include col-sm(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-2;
            }

            @include col(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-4;
            }
        }
    }

    #HTML-CSS{

        #grid{
            display: $display-grid;
            row-gap: $row-gap-10;
            column-gap: $column-gap-10;
        
            @include col-xl(){
                grid-template-columns: $grid-template-columns-repeat-8;
                grid-template-rows: $grid-template-rows-repeat-1;
            }

            @include col-lg(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-2;
            }

            @include col-md(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-3;
            }

            @include col-sm(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-2;
            }

            @include col(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-3;
            }
        }
    }

    #JavaScript{

        #grid{
            display: $display-grid;
            row-gap: $row-gap-10;
            column-gap: $column-gap-10;
        
            @include col-xl(){
                grid-template-columns: $grid-template-columns-repeat-8;
                grid-template-rows: $grid-template-rows-repeat-1;
            }

            @include col-lg(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-1;
            }

            @include col-md(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-2;
            }

            @include col-sm(){
                grid-template-columns: $grid-template-columns-repeat-4;
                grid-template-rows: $grid-template-rows-repeat-1;
            }

            @include col(){
                grid-template-columns: $grid-template-columns-repeat-2;
                grid-template-rows: $grid-template-rows-repeat-2;
            }
        }
    }

    #grid{
        
        .card1{
            border-radius: 10px;

            .breadcrumb{
                border-radius: 10px 10px 0 0;
                margin: 0 0 10px;
                background-color: #F1F8FF;
            }

            .card2{
                display: $display-grid;
                row-gap: $row-gap-5;
                column-gap: $column-gap-5;
                grid-template-columns: $grid-template-columns-repeat-1;
                grid-template-rows: $grid-template-rows-repeat-2;
                height: 405px;
                border-radius: 0 0 10px 10px;
    
                @include col-md(){
                    grid-template-columns: $grid-template-columns-repeat-2;
                    grid-template-rows: $grid-template-rows-repeat-1;
                    height: 250px;
                }
    
                .img{
                    position: relative;
                    height: 150px;
                    
                    @include col-md(){
                        margin: auto 0;
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                        
                        @include col-md(){
                            border-radius: 0;
                        }
                    }
    
                    .link{
                        position: absolute;
                        width: 50%;
                        background-color: orange;
                        margin: 0 0 10px 0;
                        right: 0;
                        bottom: 0;
                        text-align: end;
                        padding: 0 20px 0 0;
                        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                        
                        @include col-md(){
                            margin: 0 0 -10px 0;
                        }
                    }
                }
    
                .span{
                    background-color: #E9ECEF;
                    height: 250px;
                    padding: 10px;
                    border-radius: 0 0 10px 10px;
    
                    @include col-md(){
                        border-radius: 0 0 10px 0;
                    }
                }
            }
        }
    }
}

.GoToTop{
    width: 100px;
    height: 100px;

    @include col(){
        width: 50px;
        height: 50px;
    }
    
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: .5s;
    opacity: 0;

    img{
        width: 100%;
        height: 100%;
    }

    &.active{
        opacity: 0.5;
    }

    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}